*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 15px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    height: 800px;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
}

.circle{

    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(132, 208, 192);
    padding: 2px;
    text-align: center;
    color: rgb(132, 208, 192);
    padding-left: 6px;
    padding-right: 6px;
}
.task{
    
    padding: 50px;
}

.tag{
    display: inline-block;
    color: white;
    border-radius: 15px;
    padding: 9px;
    font-size: small;
    
}

.tag-blue{
    background-color: rgb(69, 171, 234);
}