*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 15px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    height: 800px;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
}

.circle1{

    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(132, 208, 192);
    padding: 2px;
    text-align: center;
    color: rgb(132, 208, 192);
    padding-left: 6px;
    padding-right: 6px;
}

.circle2{

    display: inline-block;
    border-radius: 50%;
    border: 2px solid red;
    padding: 2px;
    text-align: center;
    color: red;
    padding-left: 6px;
    padding-right: 6px;
}

.task-group{
    
    padding: 20px;
}

.task{
    margin-bottom:10px;
}

.tag{
    display: inline-block;
    color: white;
    border-radius: 15px;
    padding: 9px;
    font-size: small;
    
}

.tag-blue{
    background-color: rgb(69, 171, 234);
}

.tag-purple{
    background-color: rgb(156, 114, 228);
}

.tag-green{
    background-color: rgb(100, 192, 169);
}

.tag-orange{
    background-color: rgb(242, 158, 51);
}

.tag-pink{
    background-color: rgb(216, 99, 161);
}

.tag-lightgreen{
    background-color: rgb(176, 201, 38);
}
